.parent_body{
    background-color:#BAC7CE ;
    display: flex;
    height: 580px;
    width: 100%; 
    color: white;
   
}
.main_body{
    background-color: #304145;
    display:flex;
    flex-direction: column;
    gap: 10px;
    column-gap: normal;
    align-items: center;
    padding:10px; 
    height:400px;
    width: 250px; 
    margin: auto;
    border-radius: 5px;
}
.Create_Shoping_list{
   background-color: white;
   height: 20px;
   display: flex; 
   text-align: center;
   width:145px;
   background-image: linear-gradient(
    to bottom,
    #304145 0%,
    #304145 50%,
    #BD3147 50%,
    #BD3147 100%
   );
   border-radius: 5px;
   padding-left: 3px;
  

}
.list_body{
    background-color:#BAC7CE ;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

}
.list{
    display: flex;
    float: left;
}
.end{
    width: 20px;
    height: 20px;
    background-color: aliceblue;
}
.generate_but{
    background-color: #BD3147;
    border-radius: 5px;
    border:none;
    color: white;
}
.budget{
    color: white;
    display: flex;
    justify-content: right;
    align-content: center;
    width: 250px;
    
}
.budget_input{
    width: 100px;
    height: auto;
    border-radius: 5px;
    border: none;    
}
.list{
    background-image: linear-gradient(
        to bottom,
        #304145 0%,
        #304145 50%,
        #BD3147 50%,
        #BD3147 100%
       ); 
    border-radius: 5px;
    aspect-ratio: 2/1;
    display: flex;
    justify-content: center;
    align-content: center;
}
.titles{
    display: flex;
    justify-content: space-between;
    padding: 3px;
}
.list_body{
    width: 250px;
    padding: 3px;

}
.item_text{
   
    background-image: linear-gradient(
        to bottom,
        #BAC7CE 0%,
        #BAC7CE 50%,
        #BD3147 50%,
        #BD3147 100%
       );
    border: none;  
    border-radius: 5px; 
    color: black;
    

}
.price_text{
    background-image: linear-gradient(
        to bottom,
        #BAC7CE 0%,
        #BAC7CE 50%,
        #BD3147 50%,
        #BD3147 100%
       );
    border: none;  
    border-radius: 5px;
    color: black;
    margin-right: 50px;
    
}
.item_class{
    width: 150px;
    border: none;
    border-radius: 5px;
}
.price_class{
    width:70px;
    border: none;
    border-radius: 5px;
}
.price-text-in{
    padding: 3px;
}
.add_button{
    color: white;
    background-color: #BD3147;
    border: none;
    border-radius: 5px;
    width: 20px;
    aspect-ratio: 1/1;
    margin-right: 15px;
}
.plus{
    display: flex;
    justify-content: flex-end;

}
.list-gen{
    padding: 3px;
    margin-top: auto;   
   
}

.item-num{
    color: black;
}
