*{
    margin:0;
    padding:0;
    outline:0;
}

body{
    background-color:#BAC7CE ;
    display: flex;
    justify-content: center;
    padding-top: 12%;
    height: 580px;
    width: 100%; 
    color: white;
   
}
.main_body{
    background-color: #304145;
    display:flex;
    flex-direction: column;
    gap: 10px;
    column-gap: normal;
    align-items: center;
    padding:10px; 
    height:400px;
    width: 250px; 
    margin: auto;
    border-radius: 5px;
}
.Create_Shoping_list{
   background-color: white;
   height: 20px;
   display: flex; 
   justify-content: center;
   text-align: center;
   width:145px;
   background-image: linear-gradient(
    to bottom,
    #304145 0%,
    #304145 50%,
    #BD3147 50%,
    #BD3147 100%
   );
   border-radius: 5px;
   padding-left: 3px;
  

}
.list_body{
    background-color:#BAC7CE ;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

}
.list{
    display: flex;
    float: left;
}
.end{
    width: 20px;
    height: 20px;
    background-color: aliceblue;
}
.generate_but{
    background-color: #BD3147;
    border-radius: 5px;
    border:none;
    color: white;
    padding: 5px;
}
.budget{
    color: white;
    display: flex;
    justify-content: right;
    align-content: center;
    width: 250px;
    
}
.budget_input{
    width: 100px;
    height: auto;
    border-radius: 5px;
    border: none;    
}
.list{
    background-image: linear-gradient(
        to bottom,
        #304145 0%,
        #304145 50%,
        #BD3147 50%,
        #BD3147 100%
       ); 
    border-radius: 5px;
    aspect-ratio: 2/1;
    display: flex;
    justify-content: center;
    align-content: center;
}
.titles{
    display: flex;
    justify-content: space-between;
    padding: 3px;
}
.list_body{
    width: 250px;
    padding: 3px;
    overflow-y: scroll;

}
.list_body::-webkit-scrollbar{
    width: 5px;
    
}
.list_body::-webkit-scrollbar-thumb{
    background-color: #b8362a;
    border-radius: 5px;
}
.item_text{
   
    background-image: linear-gradient(
        to bottom,
        #BAC7CE 0%,
        #BAC7CE 50%,
        #BD3147 50%,
        #BD3147 100%
       );
    border: none;  
    border-radius: 5px; 
    color: black;
    margin-left: 15px;
    

}
.price_text{
    background-image: linear-gradient(
        to bottom,
        #BAC7CE 0%,
        #BAC7CE 50%,
        #BD3147 50%,
        #BD3147 100%
       );
    border: none;  
    border-radius: 5px;
    color: black;
    margin-right: 40px;
    
}
.item_class{
    width: 135px;
    border: none;
    border-radius: 5px;
}
.price_class{
    width:70px;
    border: none;
    border-radius: 5px;
}
.price-text-in{
    padding: 3px;
}
.add_button{
    color: white;
    background-color: #BD3147;
    border: none;
    border-radius: 5px;
    width: 20px;
    height:20px;
    
    margin-right: 15px;
    margin-top: 5px;
}
.sub_button{
    color: white;
    background-color: #BD3147;
    border: none;
    border-radius: 5px;
    width: 20px;
    height:20px;
    
    margin-left: 15px;
    margin-top: 5px;
  
}
.plusSub{
    display: flex;
    justify-content: space-between;
   

}
.list-gen{
    padding: 3px;
    margin-top: auto;   
   
}

.item-num{
    color: black;
}
.total_cost{
  margin-top: 10px;
  color: white;
    
}
.total_cost span{
    color: #304145;
}
 .Alert{
    display: flex;
    justify-content: center;
    padding: 5px;
    color: #304145;
}
th, td{
    padding: 1px;
    text-align:left;
}
th{
    color:#b8362a;
}
td{
    color: #304145;
}
.return, .save{
    background-color: #BD3147;
    border-radius: 5px;
    border:none;
    color: white;
    padding: 5px;
}